[Unit]
Description=Sodam auto update every 2 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=2min
RandomizedDelaySec=20s

[Install]
WantedBy=timers.target
